
.footer_main {
    display: flex;
    min-height: 60vh;
    background-color: #C5CB93;
}
.footer_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
}
.footer_container ul li{
    display: inline;
    font-size: 17px;
    margin-left: 2rem;
}
.footer_container a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    transition: .5s;
}
.footer_container a:hover {
    color: rgb(119, 116, 116);
    border-bottom: 1px solid rgb(119, 116, 116);
}
.footer_container ul {
    margin: 0rem 5rem
}
.footer_info {
    margin-top: 2rem;
    margin-left: 10rem;
    color: #fff;
}
.info-one {
    margin-left: 25rem;
}
.info-two {
    margin-left: -28rem;
    width: 100%;
}
.info-two h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}
.info-two p {
    font-size: 17px;

}
span {
    border-left: 3px solid #fff;
    height: 90%;
    margin-top: 2rem;
}



