* {
    font-family: 'Lexend Deca', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans 3', sans-serif;
}