* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.banner {
    margin-top: 1rem;
}
.banner img {
    margin-top: 3rem;
    width: 100%
}
.info_home h3 {
    color: #EEA3E2;
    text-align: center;
    margin-top: 3rem;
    font-size: 22px;
    text-transform: uppercase;
}
.info_home p {
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    width: 30%;
    margin-left: 42rem;
    margin-top: 2rem;
    color: #D38AC8;
    
}
.text_info {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr)
}
.info_global img{
    width: 500px;
    margin-left: 25rem;
    margin-top: 10rem;
}
.info_global h1 {
    margin-top: 12rem;
    margin-left: 15rem; 
    color: #EEA3E2;
    text-transform: uppercase;    
}
.info_global p{
    width: 50%;
    font-size: 16px;
    text-align: center;
    margin-top: 2rem;
    margin-left: 3rem;
    color: #D38AC8;
}
.info_global button {
    text-decoration: none;
    color: #F562DF;
    font-size: 17px;
    background: none;
    border: none;
    border: 1px solid #F562DF;
    transition: .5s;
    margin-top: 2rem;
    padding: 15px 70px;
    margin-left: 10rem;
}

/* CAROUSEL */
.carousel {
    width: 25%;
    margin-top: -20rem;
    margin-bottom: 20rem;
}
.carousel img {
    
    width: 800px;
    height: 600px;
}


.global_container {
    margin-left: -70rem;

}

.container_info_text h1 {
    margin-top: 10rem;
}

.swiper-bundle.css {
    color: #fff;
}