
.navbar {
    background: #fff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: #000;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #D38AC8;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #000;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  .navbar-logo img{
    width: 60px;
    margin-left: 4rem;
  }

  .bag-quantity {
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 17px;
    font-weight: bold;
  }

  .nav-bag {
    text-decoration: none;
    color: green; 
    margin-right: 6rem;
  }
  .bag-quantity {
    text-decoration: none;
    color: green;
  }
  
@media (min-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
  
  }

  @media (max-width: 430px) {
    .nav-bag {
      text-decoration: none;
      color: green; 
      margin-right: 1rem;
    }
  }